# STA 141B Assignment 5

Due __Dec 8, 2023__ by __11:59pm__. Submit your work by uploading it to Gradescope. 

Please rename this file as __"LastName_FirstName_hw5"__ and export it as as pdf-file. 

Instructions:

1. Provide your solutions in new cells following each exercise description. Create as many new cells as necessary. Use code cells for your Python scripts and Markdown cells for explanatory text or answers to non-coding questions. Answer all textual questions in complete sentences.

2. Prioritize code readability. Just as in writing a book, the clarity of each line matters. Adopt the __one-statement-per-line__ rule. If you have a lengthy code statement, consider breaking it into multiple lines for clarity. (Please note: violating the one-statement-per-line rule will result in a one-point deduction for each offending line.)

3. To help understand and maintain code, you should always add comments to explain your code. Use the hash symbol (#) to start writing a comment (homework without any comments will automatically receive 0 points).

4. Submit your final work as a __.pdf__ file on __Gradescope__. To convert your .ipynb file into one of these formats, navigate to "File", select "Download as", and then choose either "PDF via LaTeX" or "HTML". If "PDF via LaTeX" does not work for you, export to "HTML", and then use Chrome to print the .html file into PDF. Gradescope only accepts PDF files.

5. This assignment will be graded on your proficiency in programming. Be sure to demonstrate your abilities and submit your own, correct and readable solutions. 

__For full credit, query the correct table with `pd.read_sql` with SQL. Do not subset, group, sort, aggregate, ect. via `pandas`.__

## Lahman's Baseball Database

In this assignment, you'll use SQL queries to explore data in [Lahman's Baseball Database](http://www.seanlahman.com/baseball-archive/statistics/), which contains "complete batting and pitching statistics from 1871 to 2020, plus fielding statistics, standings, team stats, managerial records, post-season data, and more."

We use the 2019 version for this homework. You can find the database in SQLite format on Piazza.

Documentation for the database, including a description of all tables, is in the `readme2019.txt` file.

__Exercises:__

1. (3 points) From 2006 to 2016, which team had the highest payroll? Payroll means the sum of the salaries for all people on the team in a given year. Return a `pandas.DataFrame` with column names `year`, `payroll` and `team`, which is the team name.

In [4]:
read_sql('''...''', db) # first three records are:

   year      payroll              team
0  2006  194663079.0  New York Yankees
1  2007  189259045.0  New York Yankees
2  2008  207896789.0  New York Yankees

2. (2 points) Is there a general trend over the payrolls for all teams over this time period? Plot year against payroll in a static plot. Attention: Make sure that you add the present team names in the legend, not the former ones, e.g., *New York Yankees* instead of *New York Highlanders*!

3. (3 points) For each year, identify the player with the highest salary and report the log-salary per game ratio along his entire career (i.e., its reported salary values). 
Return a `pandas.DataFrame` with columns `year`, `name`, which is the last name of the player, and `logsalarypergame`, which is the log-salary per game ratio.

In [10]:
read_sql('''...''', db)  # first three records are:

   year   name  logsalarypergame
0  1989  Belle          0.077944
1  1990  Belle          0.563132
2  1991  Belle          0.041577

4. (5 points) We are interested in the relation of log-payroll to the relative number of wins. Create an interactive JS-based vizualization that lets the user control the year (from 1990 to 2016) and plots the log-payroll against relative number of wins. Size the points adequately by the public attendance in the stadium.