# STA 141B Data & Web Technologies for Data Analysis

### Lecture 9, 10/31/23, Scraping

### Announcements

 -

### Last week's topics

 - APIs 
     - iTunes
     - Guardian
     - Yolo County Health inspection
 - `requests` package
 - endpoints, params, headers and data
 - JSON format
 - API keys
 - undocumented APIs
     - developer tools in browser

### Today's topics

 - Scraping Tables with `pandas`
 - HTML
 - XML
 - Parser
 - Extracting Elements

### Ressources

* [`requests` documentation](http://docs.python-requests.org/en/master/)
* [`requests-html` documentation](https://html.python-requests.org/)
* [W3 Schools](https://www.w3schools.com/html/default.asp)
* [MDN HTML Reference](https://developer.mozilla.org/en-US/docs/Web/HTML/Element)
* [XPath Diner](http://www.topswagcode.com/xpath/) - an interactive XPath tutorial
* [CSS Diner](https://flukeout.github.io/) - an interactive CSS Selector tutorial

### Scraping Tables with `pandas`

For data in a `table` element, we can use __Pandas__ instead of writing a scraper. 

Wikipedia provides lots of useful information in tables. Let's get the Wikipedia list of [US cities by area][wiki].

[wiki]: https://en.wikipedia.org/wiki/List_of_United_States_cities_by_area

In [3]:
import pandas as pd

In [4]:
tabs = pd.read_html("https://en.wikipedia.org/wiki/List_of_United_States_cities_by_area")

In [5]:
type(tabs)

list

In [6]:
len(tabs)

2

In [7]:
tabs[1]

    Rank              City     State Land area       Water area          \
    Rank              City     State   (sq mi) (km2)    (sq mi)   (km2)
0      1             Sitka    Alaska    2870.1  7434     1945.1  5038.0
1      2            Juneau    Alaska    2704.2  7004      550.7  1426.0
2      3          Wrangell    Alaska    2556.1  6620      920.6  2384.0
3      4         Anchorage    Alaska    1707.0  4421      239.7   621.0
4      5  Tribune[note 1]*    Kansas     778.2  2016        0.0     0.0
..   ...               ...       ...       ...   ...        ...     ...
145  146            Toledo      Ohio      80.5   208        3.3     8.5
146  147         Jonesboro  Arkansas      80.2   208        0.6     1.6
147  148           El Reno  Oklahoma      79.6   206        0.6     1.6
148  149           Caribou     Maine      79.3   205        0.8     2.1
149  150         Ellsworth     Maine      79.3   205       14.6    38.0

    Total area        Population (2020)[2]
       (sq mi)  (km2) Population (2020)[2]
0       4815.1  12471                 8458
1       3254.9   8430                32255
2       3476.7   9005                 2127
3       1946.7   5042               291247
4        778.2   2016                 1182
..         ...    ...                  ...
145       83.8    217               270871
146       80.7    209                78576
147       80.2    208                16989
148       80.1    207                 7396
149       93.9    243                 8399

[150 rows x 10 columns]

In [8]:
tbl = tabs[1]
tbl.head()

  Rank              City   State Land area       Water area          \
  Rank              City   State   (sq mi) (km2)    (sq mi)   (km2)
0    1             Sitka  Alaska    2870.1  7434     1945.1  5038.0
1    2            Juneau  Alaska    2704.2  7004      550.7  1426.0
2    3          Wrangell  Alaska    2556.1  6620      920.6  2384.0
3    4         Anchorage  Alaska    1707.0  4421      239.7   621.0
4    5  Tribune[note 1]*  Kansas     778.2  2016        0.0     0.0

  Total area        Population (2020)[2]
     (sq mi)  (km2) Population (2020)[2]
0     4815.1  12471                 8458
1     3254.9   8430                32255
2     3476.7   9005                 2127
3     1946.7   5042               291247
4      778.2   2016                 1182

To process this information, unusable items have to be removed. We are going to do that with `regex`. We will learn more about `regex` later on.

In [9]:
from re import sub 
def remove(string):
    '''
    Removes everything inside [], a whitespace before that and *'s.
    '''
    if isinstance(string, str):
        string = sub(r'\s*\[.*\]\**', '', string)
    return string

In [19]:
tbl['City'].iloc[4][0]

'Tribune[note 1]*'

In [20]:
remove(tbl['City'].iloc[4][0])

'Tribune'

In [21]:
remove(1706.8)

1706.8

In [22]:
tbl.columns = [remove(i) for i in tbl.columns] # remove from table columns

In [23]:
tbl = tbl.applymap(remove) #remove from all rows

In [24]:
tbl.head()

,"(Rank, Rank)","(City, City)","(State, State)","(Land area, (sq mi))","(Land area, (km2))","(Water area, (sq mi))","(Water area, (km2))","(Total area, (sq mi))","(Total area, (km2))","(Population (2020)[2], Population (2020)[2])"
0,1,Sitka,Alaska,2870.1,7434,1945.1,5038.0,4815.1,12471,8458
1,2,Juneau,Alaska,2704.2,7004,550.7,1426.0,3254.9,8430,32255
2,3,Wrangell,Alaska,2556.1,6620,920.6,2384.0,3476.7,9005,2127
3,4,Anchorage,Alaska,1707.0,4421,239.7,621.0,1946.7,5042,291247
4,5,Tribune,Kansas,778.2,2016,0.0,0.0,778.2,2016,1182

In [25]:
tbl.dtypes

(Rank, Rank)                                      int64
(City, City)                                     object
(State, State)                                   object
(Land area, (sq mi))                            float64
(Land area, (km2))                                int64
(Water area, (sq mi))                           float64
(Water area, (km2))                             float64
(Total area, (sq mi))                           float64
(Total area, (km2))                               int64
(Population (2020)[2], Population (2020)[2])      int64
dtype: object

### HTML

Web pages are written in _hypertext markup language_ (HTML). HTML files (`.htm` or `.html`) are plain text, just like JSON, Python scripts, and R scripts.

In HTML, we use _tags_ to create _elements_ of a web page. Elements add formatting and structure to the page.

* Tags usually come in pairs: an opening tag and a closing tag.
* Tags are written `<NAME>` for opening tags, `</NAME>` for closing tags, and `<NAME />` for singleton tags.
* Opening and singleton tags can have _attributes_ that contain additional information. Attributes are written `ATTRIBUTE=VALUE` after the tag name. 

See [here](https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/HTML_basics) for a more detailed explanation, and [here](https://developer.mozilla.org/en-US/docs/Web/HTML/Element) for a list of valid HTML elements.

#### Example

[wiki]: https://en.wikipedia.org/wiki/List_of_United_States_cities_by_area

From now on, we will use an artificial an example:

```html
<p>This page is famous and this <b>word</b> is emphasized.</p>
```

```html
<p>This <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">page</a> is famous and this <strong>word</strong> is emphasized.</p>
```

```html
<li>1. Something</li>
```

<p>This page is famous and this <b>word</b> is emphasized.</p>
<p>This <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">page</a> is famous and this <strong>word</strong> is emphasized.</p>
<li>1. Something</li>

The `p` tag marks a paragraph, the `a` tag marks a link (an _anchor_), the `strong` tag marks emphasized text,
and `li` tag marks a list.

Here's a string that contains HTML for a simple, complete website:

In [28]:
page = """
<html>
<head>
    <title>This is the Title!</title>
</head>

<body>
    <p>This is a paragraph!</p>
    <p id="best-paragraph">This is another paragraph! &#127790;</p>
    <p>Visit <a href="https://pudding.cool">The Pudding</a>.</p>
    <span>This is a span, it comes with an taco &#127790;</span>
</body>
<a href="https://pudding.cool">The Pudding</a>
sadfasdf
</html>
"""

In [29]:
page

'\n<html>\n<head>\n    <title>This is the Title!</title>\n</head>\n\n<body>\n    <p>This is a paragraph!</p>\n    <p id="best-paragraph">This is another paragraph! &#127790;</p>\n    <p>Visit <a href="https://pudding.cool">The Pudding</a>.</p>\n    <span>This is a span, it comes with an taco &#127790;</span>\n</body>\n<a href="https://pudding.cool">The Pudding</a>\nsadfasdf\n</html>\n'

<html> 
<head>
    <title>This is the Title!</title>
</head>

<body>
    <p>This is a paragraph!</p>
    <p id="best-paragraph">This is another paragraph! &#127790;</p>
    <p>Visit <a href="https://pudding.cool">The Pudding</a>.</p>
    <span>This is a span, it comes with an taco &#127790;</span>
</body>

<body>
    <p>This is a new paragraph!</p>
</body>

</html>

The `<span>` tag is an inline container used to mark up a part of a text, or a part of a document.
    
For example, you can write the code
```
<p>My hat is <span style="color:blue">blue</span>.</p>    
```  
    
<p>My hat is <span style="color:blue">blue</span>.</p>

### XML

_Extensible markup language_ (XML) also uses tags to create elements. We say XML is _extensible_ because you can create your own XML elements (unlike HTML). People typically use XML to describe structure and meaning of data, rather than for formatting.

We'll use the same process to extract data from both HTML and XML.

### Parser

A _parser_ converts formatted data into familiar data structures. We've used __requests__' built-in JSON parser, but the package doesn't have a built-in HTML/XML parser. Fortunately, there are many other Python packages for parsing HTML/XML and web scraping.

HTML/XML Parsers:
* [lxml](https://lxml.de/)
* [html5lib](https://github.com/html5lib/html5lib-python)
* [beautifulsoup](https://www.crummy.com/software/BeautifulSoup/)
* [requests-html](https://docs.python-requests.org/projects/requests-html/en/latest/)

Scraper Frameworks (_convenient after learning the basics with parsers_):
* [scrapy](https://scrapy.org/)
* [newspaper3k](https://github.com/codelucas/newspaper)

Even more [here](https://github.com/lorien/awesome-web-scraping/blob/master/python.md#web-scraping-frameworks).

We'll use __lxml__ here (check the [doc](https://lxml.de/apidoc/index.html)), but you're welcome to use other packages on assignments and the project.

In [30]:
import lxml.html as lx

html = lx.fromstring(page)
html

<html>
<head>
    <title>This is the Title!</title>
</head>

<body>
    <p>This is a paragraph!</p>
    <p id="best-paragraph">This is another paragraph! &#127790;</p>
    <p>Visit <a href="https://pudding.cool">The Pudding</a>.</p>
    <span>This is a span, it comes with an taco &#127790;</span>
</body>
</html>

#### Finding Elements

Elements are nested, so an HTML document is like a tree:
```
html
├── head
│   └── title
└── body
    ├── p
    ├── p
    ├── p
    │   └── a
    └── span
```
This is similar to the file system on your computer. The key difference is that elements at the same level can have the same tag name.

#### XPath

The _XML Path Language_ (XPath) lets us write paths to elements. XPath paths look a lot like file paths. XPath is not Python-specific!

The `.xpath()` method gets all elements at an XPath path:

In [31]:
html.xpath("/html/head/title")

In [32]:
html.xpath("/html/body/p/a")

Since there may be more than one element, the method always returns a list.

Absolute paths are not robust for scraping. An update to a web page that adds a single tag can break a scraper that uses absolute paths. In XPath, `//` means "anywhere below". We'll use `//` often because it's more robust:

In [33]:
html.xpath("//a")

What if we just elements want that satisfy a certain condition? In XPath, `[ ]` filters out elements that don't match a condition. For example:

In [34]:
html.xpath("//p[@id = 'best-paragraph']")

[XPath Diner](http://www.topswagcode.com/xpath/) is an interactive tutorial that teaches most of the XPath syntax. It takes about 20-60 minutes. Work through it to become an XPath ninja! 

You can copy the absolute path of a tag from the developer tools.

In [35]:
'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr[7]/td[3]'

'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr[7]/td[3]'

#### CSS Selectors

_Cascading Style Sheets_ (CSS) is another language for formatting elements in an HTML document. CSS provides another way to select elements, called _CSS selectors_.

CSS selectors are more concise but less flexible than XPath paths. The `.cssselect()` method gets all elements at a CSS selector:

In [36]:
html.cssselect("a")

Check out the [CSS Diner](https://flukeout.github.io/)!

### Extracting Text and Attributes

There are two ways to get text from an element:

* `.text` gives text inside the element, but not its children
* `.text_content()` gives text inside the element and its children, with all tags removed

In [37]:
page

'\n<html>\n<head>\n    <title>This is the Title!</title>\n</head>\n\n<body>\n    <p>This is a paragraph!</p>\n    <p id="best-paragraph">This is another paragraph! &#127790;</p>\n    <p>Visit <a href="https://pudding.cool">The Pudding</a>.</p>\n    <span>This is a span, it comes with an taco &#127790;</span>\n</body>\n<a href="https://pudding.cool">The Pudding</a>\nsadfasdf\n</html>\n'

In [38]:
html.text_content()

'\n\n    This is the Title!\n\n\n\n    This is a paragraph!\n    This is another paragraph! 🌮\n    Visit The Pudding.\n    This is a span, it comes with an taco 🌮\n\nThe Pudding\nsadfasdf\n'

In [39]:
a = html.xpath("//a")[0]

In [42]:
a.text_content()

'The Pudding'

In [43]:
a.text

'The Pudding'

In [44]:
html.text_content()

'\n\n    This is the Title!\n\n\n\n    This is a paragraph!\n    This is another paragraph! 🌮\n    Visit The Pudding.\n    This is a span, it comes with an taco 🌮\n\nThe Pudding\nsadfasdf\n'

In [45]:
html.text

'\n'

We can get values from attributes on an element with `.attrib`, which is a dictionary:

In [46]:
a.attrib["href"]

'https://pudding.cool'

In [47]:
[x.attrib["href"] for x in html.xpath("//a")]

['https://pudding.cool', 'https://pudding.cool']

### Writing Scrapers

Lets scrape the wiki table ourselves. Attention: We are using request, so pay attention to the file that is being returned. Check on devtools the html element for `<thead>` and see what is returned in the network.

In [48]:
import requests

result = requests.get(url = 'https://en.wikipedia.org/wiki/List_of_United_States_cities_by_area')
html = lx.fromstring(result.text)

In [111]:
tables = html.xpath('//table')
table = tables[1]

In [112]:
table.text_content()

'\n\nRank\nCity\nState\nLand area\nWater area\nTotal area\nPopulation(2020)[2]\n\n\n(sq\xa0mi)\n(km2)\n(sq\xa0mi)\n(km2)\n(sq\xa0mi)\n(km2)\n\n\n1\nSitka\nAlaska\n2,870.1\n\n7,434\n1,945.1\n\n5,038\n4,815.1\n\n12,471\n8,458\n\n\n2\nJuneau\nAlaska\n2,704.2\n\n7,004\n550.7\n\n1,426\n3,254.9\n\n8,430\n32,255\n\n\n3\nWrangell\nAlaska\n2,556.1\n\n6,620\n920.6\n\n2,384\n3,476.7\n\n9,005\n2,127\n\n\n4\nAnchorage\nAlaska\n1,707.0\n\n4,421\n239.7\n\n621\n1,946.7\n\n5,042\n291,247\n\n\n5\nTribune[note 1]*\nKansas\n778.2\n\n2,016\n0\n\n0\n778.2\n\n2,016\n1,182\n\n\n6\nJacksonville\nFlorida\n747.3\n\n1,935\n127.2\n\n329\n874.5\n\n2,265\n949,611\n\n\n7\nAnaconda\nMontana\n736.7\n\n1,908\n4.7\n\n12\n741.4\n\n1,920\n9,421\n\n\n8\nButte *\nMontana\n715.8\n\n1,854\n0.6\n\n1.6\n716.3\n\n1,855\n34,494\n\n\n9\nHouston\nTexas\n640.6\n\n1,659\n31.2\n\n81\n671.8\n\n1,740\n2,304,580\n\n\n10\nOklahoma City\nOklahoma\n606.5\n\n1,571\n14.3\n\n37\n620.8\n\n1,608\n681,054\n\n\n11\nPhoenix\nArizona\n518.3\n\n1,342\n1.0\n\n2.6\n519.3\n\n1,345\n1,608,139\n\n\n12\nSan Antonio\nTexas\n498.9\n\n1,292\n5.8\n\n15\n504.7\n\n1,307\n1,434,625\n\n\n13\nNashville *\nTennessee\n475.6\n\n1,232\n21.6\n\n56\n497.2\n\n1,288\n689,447\n\n\n14\nLos Angeles\nCalifornia\n470.5\n\n1,219\n31.1\n\n81\n501.6\n\n1,299\n3,898,747\n\n\n15\nStatenville[note 2]\nGeorgia\n420.4\n\n1,089\n0.3\n\n0.78\n420.7\n\n1,090\n3,697\n\n\n16\nSuffolk[note 3]**\nVirginia\n399.2\n\n1,034\n29.7\n\n77\n428.9\n\n1,111\n94,324\n\n\n17\nBuckeye\nArizona\n394.8\n\n1,023\n0.2\n\n0.52\n395.0\n\n1,023\n91,502\n\n\n18\nIndianapolis *\nIndiana\n361.0\n\n935\n6.9\n\n18\n367.9\n\n953\n887,642\n\n\n19\nFort Worth\nTexas\n350.3\n\n907\n8.3\n\n21\n358.6\n\n929\n918,915\n\n\n20\nDallas\nTexas\n339.7\n\n880\n44.0\n\n114\n383.7\n\n994\n1,304,379\n\n\n21\nChesapeake[note 4]**\nVirginia\n338.5\n\n877\n12.5\n\n32\n350.9\n\n909\n249,422\n\n\n22\nAustin\nTexas\n326.4\n\n845\n6.6\n\n17\n332.9\n\n862\n961,855\n\n\n23\nSan Diego\nCalifornia\n326.1\n\n845\n46.3\n\n120\n372.4\n\n965\n1,386,932\n\n\n24\nLouisville *\nKentucky\n324.5\n\n840\n16.5\n\n43\n341.0\n\n883\n633,045\n\n\n25\nKansas City\nMissouri\n314.7\n\n815\n4.1\n\n11\n318.8\n\n826\n508,090\n\n\n26\nCharlotte\nNorth Carolina\n310.8\n\n805\n2.0\n\n5.2\n312.7\n\n810\n874,579\n\n\n27\nAugusta *\nGeorgia\n302.3\n\n783\n4.2\n\n11\n306.5\n\n794\n202,081\n\n\n28\nNew York City\nNew York\n300.5\n\n778\n172.0\n\n445\n472.4\n\n1,224\n8,804,190\n\n\n29\nMemphis\nTennessee\n296.2\n\n767\n7.6\n\n20\n303.8\n\n787\n633,104\n\n\n30\nLexington\nKentucky\n283.9\n\n735\n1.7\n\n4.4\n285.6\n\n740\n322,570\n\n\n31\nEl Paso\nTexas\n258.8\n\n670\n0.6\n\n1.6\n259.4\n\n672\n678,815\n\n\n32\nMacon\nGeorgia\n249.4\n\n646\n5.5\n\n14\n254.9\n\n660\n157,346\n\n\n33\nCusseta\nGeorgia\n248.7\n\n644\n2.4\n\n6.2\n251.2\n\n651\n9,565\n\n\n34\nVirginia Beach[note 5]**\nVirginia\n244.7\n\n634\n252.8\n\n655\n497.5\n\n1,289\n459,470\n\n\n35\nTucson\nArizona\n242.2\n\n627\n0.3\n\n0.78\n242.5\n\n628\n542,629\n\n\n36\nChicago\nIllinois\n227.7\n\n590\n6.8\n\n18\n234.5\n\n607\n2,746,388\n\n\n37\nHuntsville\nAlabama\n223.6\n\n579\n1.5\n\n3.9\n225.2\n\n583\n215,006\n\n\n38\nColumbus\nOhio\n220.7\n\n572\n5.9\n\n15\n226.6\n\n587\n905,748\n\n\n39\nColumbus\nGeorgia\n216.5\n\n561\n4.5\n\n12\n221.0\n\n572\n206,922\n\n\n40\nValdez\nAlaska\n212.9\n\n551\n59.0\n\n153\n271.9\n\n704\n3,985\n\n\n41\nPreston[note 6]\nGeorgia\n209.7\n\n543\n0.9\n\n2.3\n210.6\n\n545\n2,348\n\n\n42\nBoulder City\nNevada\n208.3\n\n539\n0.0\n\n0\n208.3\n\n539\n14,885\n\n\n43\nCalifornia City\nCalifornia\n203.6\n\n527\n0.1\n\n0.26\n203.7\n\n528\n14,973\n\n\n44\nColorado Springs\nColorado\n201.9\n\n523\n0.4\n\n1.0\n202.2\n\n524\n478,961\n\n\n45\nTulsa\nOklahoma\n197.8\n\n512\n4.1\n\n11\n201.9\n\n523\n413,066\n\n\n46\nGoodyear\nArizona\n191.3\n\n495\n0.0\n\n0\n191.3\n\n495\n95,294\n\n\n47\nAlbuquerque\nNew Mexico\n187.3\n\n485\n1.7\n\n4.4\n188.9\n\n489\n564,559\n\n\n48\nScottsdale\nArizona\n184.0\n\n477\n0.4\n\n1.0\n184.4\n\n478\n241,361\n\n\n49\nHibbing\nMinnesota\n182.0\n\n471\n4.4\n\n11\n186.5\n\n483\n16,214\n\n\n50\nNorman\nOklahoma\n178.6\n\n463\n10.5\n\n27\n189.2\n\n490\n128,026\n\n\n51\nSan Jose\nCalifornia\n177.9\n\n461\n3.1\n\n8.0\n181.1\n\n469\n1,013,240\n\n\n52\nPeoria\nArizona\n176.7\n\n458\n3.2\n\n8.3\n179.9\n\n466\n190,985\n\n\n53\nNew Orleans\nLouisiana\n169.5\n\n439\n180.3\n\n467\n349.8\n\n906\n383,997\n\n\n54\nAurora\nColorado\n163.0\n\n422\n0.6\n\n1.6\n163.6\n\n424\n386,261\n\n\n55\nWichita\nKansas\n162.9\n\n422\n4.5\n\n12\n167.4\n\n434\n397,532\n\n\n56\nCorpus Christi\nTexas\n162.3\n\n420\n328.7\n\n851\n491.0\n\n1,272\n317,863\n\n\n57\nMontgomery\nAlabama\n159.9\n\n414\n2.4\n\n6.2\n162.3\n\n420\n200,603\n\n\n58\nDenver\nColorado\n153.1\n\n397\n1.7\n\n4.4\n154.7\n\n401\n715,522\n\n\n59\nSierra Vista\nArizona\n152.4\n\n395\n0.3\n\n0.78\n152.7\n\n395\n45,308\n\n\n60\nGeorgetown\nGeorgia\n151.2\n\n392\n9.3\n\n24\n160.6\n\n416\n2,235\n\n\n61\nBakersfield\nCalifornia\n150.3\n\n389\n1.5\n\n3.9\n151.7\n\n393\n403,455\n\n\n62\nRaleigh\nNorth Carolina\n149.4\n\n387\n1.1\n\n2.8\n150.5\n\n390\n467,665\n\n\n63\nFayetteville\nNorth Carolina\n148.3\n\n384\n1.8\n\n4.7\n150.1\n\n389\n208,501\n\n\n64\nBirmingham\nAlabama\n147.1\n\n381\n2.5\n\n6.5\n149.6\n\n387\n200,733\n\n\n65\nCarson City[note 7]**\nNevada\n144.5\n\n374\n12.6\n\n33\n157.1\n\n407\n58,639\n\n\n66\nOmaha\nNebraska\n143.0\n\n370\n3.6\n\n9.3\n146.6\n\n380\n486,051\n\n\n67\nChattanooga\nTennessee\n142.4\n\n369\n7.7\n\n20\n150.1\n\n389\n181,099\n\n\n68\nLubbock\nTexas\n142.0\n\n368\n1.3\n\n3.4\n143.3\n\n371\n257,141\n\n\n69\nLas Vegas\nNevada\n141.9\n\n368\n0.1\n\n0.26\n141.9\n\n368\n641,903\n\n\n70\nMesa\nArizona\n141.4\n\n366\n0.6\n\n1.6\n142.0\n\n368\n504,258\n\n\n71\nMobile\nAlabama\n139.5\n\n361\n40.6\n\n105\n180.1\n\n466\n187,041\n\n\n72\nBunnell\nFlorida\n139.4\n\n361\n0.1\n\n0.26\n139.5\n\n361\n3,276\n\n\n73\nDetroit\nMichigan\n138.7\n\n359\n4.2\n\n11\n142.9\n\n370\n639,111\n\n\n74\nColumbia\nSouth Carolina\n138.3\n\n358\n2.9\n\n7.5\n141.1\n\n365\n136,632\n\n\n75\nAtlanta\nGeorgia\n135.3\n\n350\n1.1\n\n2.8\n136.3\n\n353\n498,715\n\n\n76\nPhiladelphia\nPennsylvania\n134.4\n\n348\n8.3\n\n21\n142.7\n\n370\n1,603,797\n\n\n77\nGreensboro\nNorth Carolina\n133.9\n\n347\n5.2\n\n13\n139.1\n\n360\n299,035\n\n\n78\nWinston-Salem\nNorth Carolina\n133.6\n\n346\n1.2\n\n3.1\n134.8\n\n349\n249,545\n\n\n79\nPortland\nOregon\n133.5\n\n346\n11.5\n\n30\n145.0\n\n376\n652,503\n\n\n80\nBrownsville\nTexas\n131.8\n\n341\n13.7\n\n35\n145.5\n\n377\n186,738\n\n\n81\nLynchburg\nTennessee\n129.2\n\n335\n1.2\n\n3.1\n130.4\n\n338\n6,461\n\n\n82\nKansas City\nKansas\n124.7\n\n323\n3.6\n\n9.3\n128.3\n\n332\n156,607\n\n\n83\nFernley\nNevada\n122.7\n\n318\n6.7\n\n17\n129.5\n\n335\n22,895\n\n\n84\nMarana\nArizona\n121.1\n\n314\n0.7\n\n1.8\n121.8\n\n315\n51,908\n\n\n85\nYuma\nArizona\n121.0\n\n313\n0.1\n\n0.26\n121.1\n\n314\n95,548\n\n\n86\nHenderson\nNevada\n120.5\n\n312\n0.5\n\n1.3\n121.0\n\n313\n317,610\n\n\n87\nLittle Rock\nArkansas\n120.3\n\n312\n3.0\n\n7.8\n123.2\n\n319\n202,591\n\n\n88\nPort St. Lucie\nFlorida\n119.2\n\n309\n1.6\n\n4.1\n120.8\n\n313\n204,851\n\n\n89\nDurham\nNorth Carolina\n116.8\n\n303\n0.8\n\n2.1\n117.6\n\n305\n283,506\n\n\n90\nAthens *\nGeorgia\n116.4\n\n301\n1.8\n\n4.7\n118.2\n\n306\n127,315\n\n\n91\nFresno\nCalifornia\n115.8\n\n300\n1.2\n\n3.1\n117.0\n\n303\n542,107\n\n\n92\nCharleston\nSouth Carolina\n115.1\n\n298\n20.7\n\n54\n135.7\n\n351\n150,227\n\n\n93\nEloy\nArizona\n114.7\n\n297\n0.1\n\n0.26\n114.7\n\n297\n15,635\n\n\n94\nHartsville\nTennessee\n114.3\n\n296\n2.3\n\n6.0\n116.6\n\n302\n11,615\n\n\n95\nCasa Grande\nArizona\n113.8\n\n295\n0.0\n\n0\n113.8\n\n295\n53,658\n\n\n96\nTampa\nFlorida\n113.6\n\n294\n63.6\n\n165\n177.2\n\n459\n384,959\n\n\n97\nJackson\nMississippi\n111.7\n\n289\n2.1\n\n5.4\n113.8\n\n295\n153,701\n\n\n98\nOrlando\nFlorida\n111.2\n\n288\n8.2\n\n21\n119.5\n\n310\n307,573\n\n\n99\nSalt Lake City\nUtah\n110.9\n\n287\n0.4\n\n1.0\n111.3\n\n288\n199,723\n\n\n100\nFort Wayne\nIndiana\n110.6\n\n286\n0.3\n\n0.78\n111.0\n\n287\n263,886\n\n\n101\nSurprise\nArizona\n110.5\n\n286\n0.2\n\n0.52\n110.7\n\n287\n143,148\n\n\n102\nReno\nNevada\n109.0\n\n282\n2.8\n\n7.3\n111.8\n\n290\n264,165\n\n\n103\nSavannah\nGeorgia\n108.9\n\n282\n4.8\n\n12\n113.7\n\n294\n147,780\n\n\n104\nShreveport\nLouisiana\n108.1\n\n280\n15.7\n\n41\n123.8\n\n321\n187,593\n\n\n105\nLaredo\nTexas\n106.8\n\n277\n1.5\n\n3.9\n108.3\n\n280\n255,205\n\n\n106\nAbilene\nTexas\n106.7\n\n276\n5.4\n\n14\n112.1\n\n290\n125,182\n\n\n107\nCape Coral\nFlorida\n106.1\n\n275\n13.4\n\n35\n119.5\n\n310\n194,016\n\n\n108\nPalmdale\nCalifornia\n106.1\n\n275\n0.2\n\n0.52\n106.3\n\n275\n169,450\n\n\n109\nBabbitt\nMinnesota\n106.0\n\n275\n0.8\n\n2.1\n106.8\n\n277\n1,397\n\n\n110\nNorth Las Vegas\nNevada\n105.3\n\n273\n0.0\n\n0\n105.4\n\n273\n262,527\n\n\n111\nAmarillo\nTexas\n103.6\n\n268\n1.6\n\n4.1\n105.2\n\n272\n200,393\n\n\n112\nRio Rancho\nNew Mexico\n103.4\n\n268\n0.3\n\n0.78\n103.6\n\n268\n104,046\n\n\n113\nTallahassee\nFlorida\n102.4\n\n265\n2.9\n\n7.5\n105.3\n\n273\n196,169\n\n\n114\nUnalaska\nAlaska\n102.2\n\n265\n108.7\n\n282\n210.9\n\n546\n4,254\n\n\n115\nLincoln\nNebraska\n100.0\n\n259\n1.4\n\n3.6\n101.3\n\n262\n291,082\n\n\n116\nClarksville\nTennessee\n99.7\n\n258\n0.7\n\n1.8\n100.4\n\n260\n166,722\n\n\n117\nNorth Port\nFlorida\n99.4\n\n257\n4.8\n\n12\n104.2\n\n270\n74,793\n\n\n118\nSt. Marys\nPennsylvania\n99.3\n\n257\n0.2\n\n0.52\n99.5\n\n258\n12,738\n\n\n119\nNightmute\nAlaska\n99.0\n\n256\n5.4\n\n14\n104.4\n\n270\n306\n\n\n120\nKnoxville\nTennessee\n98.7\n\n256\n5.5\n\n14\n104.3\n\n270\n190,740\n\n\n121\nSacramento\nCalifornia\n98.6\n\n255\n2.1\n\n5.4\n100.7\n\n261\n524,943\n\n\n122\nDenton\nTexas\n96.9\n\n251\n1.4\n\n3.6\n98.3\n\n255\n139,869\n\n\n123\nMilwaukee\nWisconsin\n96.2\n\n249\n0.6\n\n1.6\n96.8\n\n251\n577,222\n\n\n124\nArlington\nTexas\n95.8\n\n248\n3.6\n\n9.3\n99.4\n\n257\n394,266\n\n\n125\nPalm Coast\nFlorida\n95.7\n\n248\n1.2\n\n3.1\n96.9\n\n251\n89,258\n\n\n126\nPalm Springs\nCalifornia\n94.5\n\n245\n0.1\n\n0.26\n94.7\n\n245\n44,575\n\n\n127\nLancaster\nCalifornia\n94.3\n\n244\n0.3\n\n0.78\n94.5\n\n245\n173,516\n\n\n128\nSouth Fulton\nGeorgia\n93.0\n\n241\n1.2\n\n3.1\n94.2\n\n244\n107,436\n\n\n129\nWaco\nTexas\n91.0\n\n236\n12.4\n\n32\n103.4\n\n268\n138,486\n\n\n130\nDothan\nAlabama\n89.8\n\n233\n0.3\n\n0.78\n90.2\n\n234\n71,072\n\n\n131\nDes Moines\nIowa\n88.2\n\n228\n2.5\n\n6.5\n90.7\n\n235\n214,133\n\n\n132\nBaton Rouge\nLouisiana\n86.9\n\n225\n2.2\n\n5.7\n89.1\n\n231\n227,470\n\n\n133\nPalm Bay\nFlorida\n86.7\n\n225\n3.2\n\n8.3\n89.9\n\n233\n119,760\n\n\n134\nOak Ridge\nTennessee\n85.3\n\n221\n4.7\n\n12\n90.0\n\n233\n31,402\n\n\n135\nBoise\nIdaho\n84.6\n\n219\n1.0\n\n2.6\n85.5\n\n221\n235,684\n\n\n136\nEdmond\nOklahoma\n84.4\n\n219\n3.1\n\n8.0\n87.5\n\n227\n94,428\n\n\n137\nSeattle\nWashington\n84.0\n\n218\n58.1\n\n150\n142.1\n\n368\n737,015\n\n\n138\nSpringfield\nMissouri\n83.2\n\n215\n0.6\n\n1.6\n83.8\n\n217\n169,176\n\n\n139\nCoolidge\nArizona\n83.1\n\n215\n0.2\n\n0.52\n83.3\n\n216\n13,218\n\n\n140\nMadison\nWisconsin\n83.1\n\n215\n21.4\n\n55\n104.5\n\n271\n269,840\n\n\n141\nSioux Falls\nSouth Dakota\n82.7\n\n214\n0.5\n\n1.3\n83.2\n\n215\n192,517\n\n\n142\nBeaumont\nTexas\n82.1\n\n213\n2.8\n\n7.3\n84.9\n\n220\n115,282\n\n\n143\nLawton\nOklahoma\n81.4\n\n211\n0.0\n\n0\n81.5\n\n211\n90,381\n\n\n144\nRiverside\nCalifornia\n81.1\n\n210\n0.3\n\n0.78\n81.5\n\n211\n314,998\n\n\n145\nBaltimore **\nMaryland\n80.9\n\n210\n11.1\n\n29\n92.1\n\n239\n585,708\n\n\n146\nToledo\nOhio\n80.5\n\n208\n3.3\n\n8.5\n83.8\n\n217\n270,871\n\n\n147\nJonesboro\nArkansas\n80.2\n\n208\n0.6\n\n1.6\n80.7\n\n209\n78,576\n\n\n148\nEl Reno\nOklahoma\n79.6\n\n206\n0.6\n\n1.6\n80.2\n\n208\n16,989\n\n\n149\nCaribou\nMaine\n79.3\n\n205\n0.8\n\n2.1\n80.1\n\n207\n7,396\n\n\n150\nEllsworth\nMaine\n79.3\n\n205\n14.6\n\n38\n93.9\n\n243\n8,399\n'

In [113]:
html.xpath('//table[2]/thead')

[]

In [114]:
html.xpath('//table[2]/tbody')

In [115]:
def retrieve_rows(html): 
    rows = html.xpath('//table[2]/tbody/tr')
    cells = []
    for row in rows: 
        # ./td|th means we start at the node (not searching the whole doc again), and choose td OR th children
        cells.append([cell.text_content() for cell in row.xpath('./td|th')]) # no text, as some cells are in <b>
    return cells

In [116]:
retrieve_rows(html)

[['Rank',
  'City',
  'State',
  'Land area',
  'Water area',
  'Total area',
  'Population(2020)[2]\n'],
 ['(sq\xa0mi)', '(km2)', '(sq\xa0mi)', '(km2)', '(sq\xa0mi)', '(km2)\n'],
 ['1',
  'Sitka',
  'Alaska',
  '2,870.1\n',
  '7,434',
  '1,945.1\n',
  '5,038',
  '4,815.1\n',
  '12,471',
  '8,458\n'],
 ['2',
  'Juneau',
  'Alaska',
  '2,704.2\n',
  '7,004',
  '550.7\n',
  '1,426',
  '3,254.9\n',
  '8,430',
  '32,255\n'],
 ['3',
  'Wrangell',
  'Alaska',
  '2,556.1\n',
  '6,620',
  '920.6\n',
  '2,384',
  '3,476.7\n',
  '9,005',
  '2,127\n'],
 ['4',
  'Anchorage',
  'Alaska',
  '1,707.0\n',
  '4,421',
  '239.7\n',
  '621',
  '1,946.7\n',
  '5,042',
  '291,247\n'],
 ['5',
  'Tribune[note 1]*',
  'Kansas',
  '778.2\n',
  '2,016',
  '0\n',
  '0',
  '778.2\n',
  '2,016',
  '1,182\n'],
 ['6',
  'Jacksonville',
  'Florida',
  '747.3\n',
  '1,935',
  '127.2\n',
  '329',
  '874.5\n',
  '2,265',
  '949,611\n'],
 ['7',
  'Anaconda',
  'Montana',
  '736.7\n',
  '1,908',
  '4.7\n',
  '12',
  '741.4\n',
  '1,920',
  '9,421\n'],
 ['8',
  'Butte *',
  'Montana',
  '715.8\n',
  '1,854',
  '0.6\n',
  '1.6',
  '716.3\n',
  '1,855',
  '34,494\n'],
 ['9',
  'Houston',
  'Texas',
  '640.6\n',
  '1,659',
  '31.2\n',
  '81',
  '671.8\n',
  '1,740',
  '2,304,580\n'],
 ['10',
  'Oklahoma City',
  'Oklahoma',
  '606.5\n',
  '1,571',
  '14.3\n',
  '37',
  '620.8\n',
  '1,608',
  '681,054\n'],
 ['11',
  'Phoenix',
  'Arizona',
  '518.3\n',
  '1,342',
  '1.0\n',
  '2.6',
  '519.3\n',
  '1,345',
  '1,608,139\n'],
 ['12',
  'San Antonio',
  'Texas',
  '498.9\n',
  '1,292',
  '5.8\n',
  '15',
  '504.7\n',
  '1,307',
  '1,434,625\n'],
 ['13',
  'Nashville *',
  'Tennessee',
  '475.6\n',
  '1,232',
  '21.6\n',
  '56',
  '497.2\n',
  '1,288',
  '689,447\n'],
 ['14',
  'Los Angeles',
  'California',
  '470.5\n',
  '1,219',
  '31.1\n',
  '81',
  '501.6\n',
  '1,299',
  '3,898,747\n'],
 ['15',
  'Statenville[note 2]',
  'Georgia',
  '420.4\n',
  '1,089',
  '0.3\n',
  '0.78',
  '420.7\n',
  '1,090',
  '3,697\n'],
 ['16',
  'Suffolk[note 3]**',
  'Virginia',
  '399.2\n',
  '1,034',
  '29.7\n',
  '77',
  '428.9\n',
  '1,111',
  '94,324\n'],
 ['17',
  'Buckeye',
  'Arizona',
  '394.8\n',
  '1,023',
  '0.2\n',
  '0.52',
  '395.0\n',
  '1,023',
  '91,502\n'],
 ['18',
  'Indianapolis *',
  'Indiana',
  '361.0\n',
  '935',
  '6.9\n',
  '18',
  '367.9\n',
  '953',
  '887,642\n'],
 ['19',
  'Fort Worth',
  'Texas',
  '350.3\n',
  '907',
  '8.3\n',
  '21',
  '358.6\n',
  '929',
  '918,915\n'],
 ['20',
  'Dallas',
  'Texas',
  '339.7\n',
  '880',
  '44.0\n',
  '114',
  '383.7\n',
  '994',
  '1,304,379\n'],
 ['21',
  'Chesapeake[note 4]**',
  'Virginia',
  '338.5\n',
  '877',
  '12.5\n',
  '32',
  '350.9\n',
  '909',
  '249,422\n'],
 ['22',
  'Austin',
  'Texas',
  '326.4\n',
  '845',
  '6.6\n',
  '17',
  '332.9\n',
  '862',
  '961,855\n'],
 ['23',
  'San Diego',
  'California',
  '326.1\n',
  '845',
  '46.3\n',
  '120',
  '372.4\n',
  '965',
  '1,386,932\n'],
 ['24',
  'Louisville *',
  'Kentucky',
  '324.5\n',
  '840',
  '16.5\n',
  '43',
  '341.0\n',
  '883',
  '633,045\n'],
 ['25',
  'Kansas City',
  'Missouri',
  '314.7\n',
  '815',
  '4.1\n',
  '11',
  '318.8\n',
  '826',
  '508,090\n'],
 ['26',
  'Charlotte',
  'North Carolina',
  '310.8\n',
  '805',
  '2.0\n',
  '5.2',
  '312.7\n',
  '810',
  '874,579\n'],
 ['27',
  'Augusta *',
  'Georgia',
  '302.3\n',
  '783',
  '4.2\n',
  '11',
  '306.5\n',
  '794',
  '202,081\n'],
 ['28',
  'New York City',
  'New York',
  '300.5\n',
  '778',
  '172.0\n',
  '445',
  '472.4\n',
  '1,224',
  '8,804,190\n'],
 ['29',
  'Memphis',
  'Tennessee',
  '296.2\n',
  '767',
  '7.6\n',
  '20',
  '303.8\n',
  '787',
  '633,104\n'],
 ['30',
  'Lexington',
  'Kentucky',
  '283.9\n',
  '735',
  '1.7\n',
  '4.4',
  '285.6\n',
  '740',
  '322,570\n'],
 ['31',
  'El Paso',
  'Texas',
  '258.8\n',
  '670',
  '0.6\n',
  '1.6',
  '259.4\n',
  '672',
  '678,815\n'],
 ['32',
  'Macon',
  'Georgia',
  '249.4\n',
  '646',
  '5.5\n',
  '14',
  '254.9\n',
  '660',
  '157,346\n'],
 ['33',
  'Cusseta',
  'Georgia',
  '248.7\n',
  '644',
  '2.4\n',
  '6.2',
  '251.2\n',
  '651',
  '9,565\n'],
 ['34',
  'Virginia Beach[note 5]**',
  'Virginia',
  '244.7\n',
  '634',
  '252.8\n',
  '655',
  '497.5\n',
  '1,289',
  '459,470\n'],
 ['35',
  'Tucson',
  'Arizona',
  '242.2\n',
  '627',
  '0.3\n',
  '0.78',
  '242.5\n',
  '628',
  '542,629\n'],
 ['36',
  'Chicago',
  'Illinois',
  '227.7\n',
  '590',
  '6.8\n',
  '18',
  '234.5\n',
  '607',
  '2,746,388\n'],
 ['37',
  'Huntsville',
  'Alabama',
  '223.6\n',
  '579',
  '1.5\n',
  '3.9',
  '225.2\n',
  '583',
  '215,006\n'],
 ['38',
  'Columbus',
  'Ohio',
  '220.7\n',
  '572',
  '5.9\n',
  '15',
  '226.6\n',
  '587',
  '905,748\n'],
 ['39',
  'Columbus',
  'Georgia',
  '216.5\n',
  '561',
  '4.5\n',
  '12',
  '221.0\n',
  '572',
  '206,922\n'],
 ['40',
  'Valdez',
  'Alaska',
  '212.9\n',
  '551',
  '59.0\n',
  '153',
  '271.9\n',
  '704',
  '3,985\n'],
 ['41',
  'Preston[note 6]',
  'Georgia',
  '209.7\n',
  '543',
  '0.9\n',
  '2.3',
  '210.6\n',
  '545',
  '2,348\n'],
 ['42',
  'Boulder City',
  'Nevada',
  '208.3\n',
  '539',
  '0.0\n',
  '0',
  '208.3\n',
  '539',
  '14,885\n'],
 ['43',
  'California City',
  'California',
  '203.6\n',
  '527',
  '0.1\n',
  '0.26',
  '203.7\n',
  '528',
  '14,973\n'],
 ['44',
  'Colorado Springs',
  'Colorado',
  '201.9\n',
  '523',
  '0.4\n',
  '1.0',
  '202.2\n',
  '524',
  '478,961\n'],
 ['45',
  'Tulsa',
  'Oklahoma',
  '197.8\n',
  '512',
  '4.1\n',
  '11',
  '201.9\n',
  '523',
  '413,066\n'],
 ['46',
  'Goodyear',
  'Arizona',
  '191.3\n',
  '495',
  '0.0\n',
  '0',
  '191.3\n',
  '495',
  '95,294\n'],
 ['47',
  'Albuquerque',
  'New Mexico',
  '187.3\n',
  '485',
  '1.7\n',
  '4.4',
  '188.9\n',
  '489',
  '564,559\n'],
 ['48',
  'Scottsdale',
  'Arizona',
  '184.0\n',
  '477',
  '0.4\n',
  '1.0',
  '184.4\n',
  '478',
  '241,361\n'],
 ['49',
  'Hibbing',
  'Minnesota',
  '182.0\n',
  '471',
  '4.4\n',
  '11',
  '186.5\n',
  '483',
  '16,214\n'],
 ['50',
  'Norman',
  'Oklahoma',
  '178.6\n',
  '463',
  '10.5\n',
  '27',
  '189.2\n',
  '490',
  '128,026\n'],
 ['51',
  'San Jose',
  'California',
  '177.9\n',
  '461',
  '3.1\n',
  '8.0',
  '181.1\n',
  '469',
  '1,013,240\n'],
 ['52',
  'Peoria',
  'Arizona',
  '176.7\n',
  '458',
  '3.2\n',
  '8.3',
  '179.9\n',
  '466',
  '190,985\n'],
 ['53',
  'New Orleans',
  'Louisiana',
  '169.5\n',
  '439',
  '180.3\n',
  '467',
  '349.8\n',
  '906',
  '383,997\n'],
 ['54',
  'Aurora',
  'Colorado',
  '163.0\n',
  '422',
  '0.6\n',
  '1.6',
  '163.6\n',
  '424',
  '386,261\n'],
 ['55',
  'Wichita',
  'Kansas',
  '162.9\n',
  '422',
  '4.5\n',
  '12',
  '167.4\n',
  '434',
  '397,532\n'],
 ['56',
  'Corpus Christi',
  'Texas',
  '162.3\n',
  '420',
  '328.7\n',
  '851',
  '491.0\n',
  '1,272',
  '317,863\n'],
 ['57',
  'Montgomery',
  'Alabama',
  '159.9\n',
  '414',
  '2.4\n',
  '6.2',
  '162.3\n',
  '420',
  '200,603\n'],
 ['58',
  'Denver',
  'Colorado',
  '153.1\n',
  '397',
  '1.7\n',
  '4.4',
  '154.7\n',
  '401',
  '715,522\n'],
 ['59',
  'Sierra Vista',
  'Arizona',
  '152.4\n',
  '395',
  '0.3\n',
  '0.78',
  '152.7\n',
  '395',
  '45,308\n'],
 ['60',
  'Georgetown',
  'Georgia',
  '151.2\n',
  '392',
  '9.3\n',
  '24',
  '160.6\n',
  '416',
  '2,235\n'],
 ['61',
  'Bakersfield',
  'California',
  '150.3\n',
  '389',
  '1.5\n',
  '3.9',
  '151.7\n',
  '393',
  '403,455\n'],
 ['62',
  'Raleigh',
  'North Carolina',
  '149.4\n',
  '387',
  '1.1\n',
  '2.8',
  '150.5\n',
  '390',
  '467,665\n'],
 ['63',
  'Fayetteville',
  'North Carolina',
  '148.3\n',
  '384',
  '1.8\n',
  '4.7',
  '150.1\n',
  '389',
  '208,501\n'],
 ['64',
  'Birmingham',
  'Alabama',
  '147.1\n',
  '381',
  '2.5\n',
  '6.5',
  '149.6\n',
  '387',
  '200,733\n'],
 ['65',
  'Carson City[note 7]**',
  'Nevada',
  '144.5\n',
  '374',
  '12.6\n',
  '33',
  '157.1\n',
  '407',
  '58,639\n'],
 ['66',
  'Omaha',
  'Nebraska',
  '143.0\n',
  '370',
  '3.6\n',
  '9.3',
  '146.6\n',
  '380',
  '486,051\n'],
 ['67',
  'Chattanooga',
  'Tennessee',
  '142.4\n',
  '369',
  '7.7\n',
  '20',
  '150.1\n',
  '389',
  '181,099\n'],
 ['68',
  'Lubbock',
  'Texas',
  '142.0\n',
  '368',
  '1.3\n',
  '3.4',
  '143.3\n',
  '371',
  '257,141\n'],
 ['69',
  'Las Vegas',
  'Nevada',
  '141.9\n',
  '368',
  '0.1\n',
  '0.26',
  '141.9\n',
  '368',
  '641,903\n'],
 ['70',
  'Mesa',
  'Arizona',
  '141.4\n',
  '366',
  '0.6\n',
  '1.6',
  '142.0\n',
  '368',
  '504,258\n'],
 ['71',
  'Mobile',
  'Alabama',
  '139.5\n',
  '361',
  '40.6\n',
  '105',
  '180.1\n',
  '466',
  '187,041\n'],
 ['72',
  'Bunnell',
  'Florida',
  '139.4\n',
  '361',
  '0.1\n',
  '0.26',
  '139.5\n',
  '361',
  '3,276\n'],
 ['73',
  'Detroit',
  'Michigan',
  '138.7\n',
  '359',
  '4.2\n',
  '11',
  '142.9\n',
  '370',
  '639,111\n'],
 ['74',
  'Columbia',
  'South Carolina',
  '138.3\n',
  '358',
  '2.9\n',
  '7.5',
  '141.1\n',
  '365',
  '136,632\n'],
 ['75',
  'Atlanta',
  'Georgia',
  '135.3\n',
  '350',
  '1.1\n',
  '2.8',
  '136.3\n',
  '353',
  '498,715\n'],
 ['76',
  'Philadelphia',
  'Pennsylvania',
  '134.4\n',
  '348',
  '8.3\n',
  '21',
  '142.7\n',
  '370',
  '1,603,797\n'],
 ['77',
  'Greensboro',
  'North Carolina',
  '133.9\n',
  '347',
  '5.2\n',
  '13',
  '139.1\n',
  '360',
  '299,035\n'],
 ['78',
  'Winston-Salem',
  'North Carolina',
  '133.6\n',
  '346',
  '1.2\n',
  '3.1',
  '134.8\n',
  '349',
  '249,545\n'],
 ['79',
  'Portland',
  'Oregon',
  '133.5\n',
  '346',
  '11.5\n',
  '30',
  '145.0\n',
  '376',
  '652,503\n'],
 ['80',
  'Brownsville',
  'Texas',
  '131.8\n',
  '341',
  '13.7\n',
  '35',
  '145.5\n',
  '377',
  '186,738\n'],
 ['81',
  'Lynchburg',
  'Tennessee',
  '129.2\n',
  '335',
  '1.2\n',
  '3.1',
  '130.4\n',
  '338',
  '6,461\n'],
 ['82',
  'Kansas City',
  'Kansas',
  '124.7\n',
  '323',
  '3.6\n',
  '9.3',
  '128.3\n',
  '332',
  '156,607\n'],
 ['83',
  'Fernley',
  'Nevada',
  '122.7\n',
  '318',
  '6.7\n',
  '17',
  '129.5\n',
  '335',
  '22,895\n'],
 ['84',
  'Marana',
  'Arizona',
  '121.1\n',
  '314',
  '0.7\n',
  '1.8',
  '121.8\n',
  '315',
  '51,908\n'],
 ['85',
  'Yuma',
  'Arizona',
  '121.0\n',
  '313',
  '0.1\n',
  '0.26',
  '121.1\n',
  '314',
  '95,548\n'],
 ['86',
  'Henderson',
  'Nevada',
  '120.5\n',
  '312',
  '0.5\n',
  '1.3',
  '121.0\n',
  '313',
  '317,610\n'],
 ['87',
  'Little Rock',
  'Arkansas',
  '120.3\n',
  '312',
  '3.0\n',
  '7.8',
  '123.2\n',
  '319',
  '202,591\n'],
 ['88',
  'Port St. Lucie',
  'Florida',
  '119.2\n',
  '309',
  '1.6\n',
  '4.1',
  '120.8\n',
  '313',
  '204,851\n'],
 ['89',
  'Durham',
  'North Carolina',
  '116.8\n',
  '303',
  '0.8\n',
  '2.1',
  '117.6\n',
  '305',
  '283,506\n'],
 ['90',
  'Athens *',
  'Georgia',
  '116.4\n',
  '301',
  '1.8\n',
  '4.7',
  '118.2\n',
  '306',
  '127,315\n'],
 ['91',
  'Fresno',
  'California',
  '115.8\n',
  '300',
  '1.2\n',
  '3.1',
  '117.0\n',
  '303',
  '542,107\n'],
 ['92',
  'Charleston',
  'South Carolina',
  '115.1\n',
  '298',
  '20.7\n',
  '54',
  '135.7\n',
  '351',
  '150,227\n'],
 ['93',
  'Eloy',
  'Arizona',
  '114.7\n',
  '297',
  '0.1\n',
  '0.26',
  '114.7\n',
  '297',
  '15,635\n'],
 ['94',
  'Hartsville',
  'Tennessee',
  '114.3\n',
  '296',
  '2.3\n',
  '6.0',
  '116.6\n',
  '302',
  '11,615\n'],
 ['95',
  'Casa Grande',
  'Arizona',
  '113.8\n',
  '295',
  '0.0\n',
  '0',
  '113.8\n',
  '295',
  '53,658\n'],
 ['96',
  'Tampa',
  'Florida',
  '113.6\n',
  '294',
  '63.6\n',
  '165',
  '177.2\n',
  '459',
  '384,959\n'],
 ['97',
  'Jackson',
  'Mississippi',
  '111.7\n',
  '289',
  '2.1\n',
  '5.4',
  '113.8\n',
  '295',
  '153,701\n'],
 ['98',
  'Orlando',
  'Florida',
  '111.2\n',
  '288',
  '8.2\n',
  '21',
  '119.5\n',
  '310',
  '307,573\n'],
 ['99',
  'Salt Lake City',
  'Utah',
  '110.9\n',
  '287',
  '0.4\n',
  '1.0',
  '111.3\n',
  '288',
  '199,723\n'],
 ['100',
  'Fort Wayne',
  'Indiana',
  '110.6\n',
  '286',
  '0.3\n',
  '0.78',
  '111.0\n',
  '287',
  '263,886\n'],
 ['101',
  'Surprise',
  'Arizona',
  '110.5\n',
  '286',
  '0.2\n',
  '0.52',
  '110.7\n',
  '287',
  '143,148\n'],
 ['102',
  'Reno',
  'Nevada',
  '109.0\n',
  '282',
  '2.8\n',
  '7.3',
  '111.8\n',
  '290',
  '264,165\n'],
 ['103',
  'Savannah',
  'Georgia',
  '108.9\n',
  '282',
  '4.8\n',
  '12',
  '113.7\n',
  '294',
  '147,780\n'],
 ['104',
  'Shreveport',
  'Louisiana',
  '108.1\n',
  '280',
  '15.7\n',
  '41',
  '123.8\n',
  '321',
  '187,593\n'],
 ['105',
  'Laredo',
  'Texas',
  '106.8\n',
  '277',
  '1.5\n',
  '3.9',
  '108.3\n',
  '280',
  '255,205\n'],
 ['106',
  'Abilene',
  'Texas',
  '106.7\n',
  '276',
  '5.4\n',
  '14',
  '112.1\n',
  '290',
  '125,182\n'],
 ['107',
  'Cape Coral',
  'Florida',
  '106.1\n',
  '275',
  '13.4\n',
  '35',
  '119.5\n',
  '310',
  '194,016\n'],
 ['108',
  'Palmdale',
  'California',
  '106.1\n',
  '275',
  '0.2\n',
  '0.52',
  '106.3\n',
  '275',
  '169,450\n'],
 ['109',
  'Babbitt',
  'Minnesota',
  '106.0\n',
  '275',
  '0.8\n',
  '2.1',
  '106.8\n',
  '277',
  '1,397\n'],
 ['110',
  'North Las Vegas',
  'Nevada',
  '105.3\n',
  '273',
  '0.0\n',
  '0',
  '105.4\n',
  '273',
  '262,527\n'],
 ['111',
  'Amarillo',
  'Texas',
  '103.6\n',
  '268',
  '1.6\n',
  '4.1',
  '105.2\n',
  '272',
  '200,393\n'],
 ['112',
  'Rio Rancho',
  'New Mexico',
  '103.4\n',
  '268',
  '0.3\n',
  '0.78',
  '103.6\n',
  '268',
  '104,046\n'],
 ['113',
  'Tallahassee',
  'Florida',
  '102.4\n',
  '265',
  '2.9\n',
  '7.5',
  '105.3\n',
  '273',
  '196,169\n'],
 ['114',
  'Unalaska',
  'Alaska',
  '102.2\n',
  '265',
  '108.7\n',
  '282',
  '210.9\n',
  '546',
  '4,254\n'],
 ['115',
  'Lincoln',
  'Nebraska',
  '100.0\n',
  '259',
  '1.4\n',
  '3.6',
  '101.3\n',
  '262',
  '291,082\n'],
 ['116',
  'Clarksville',
  'Tennessee',
  '99.7\n',
  '258',
  '0.7\n',
  '1.8',
  '100.4\n',
  '260',
  '166,722\n'],
 ['117',
  'North Port',
  'Florida',
  '99.4\n',
  '257',
  '4.8\n',
  '12',
  '104.2\n',
  '270',
  '74,793\n'],
 ['118',
  'St. Marys',
  'Pennsylvania',
  '99.3\n',
  '257',
  '0.2\n',
  '0.52',
  '99.5\n',
  '258',
  '12,738\n'],
 ['119',
  'Nightmute',
  'Alaska',
  '99.0\n',
  '256',
  '5.4\n',
  '14',
  '104.4\n',
  '270',
  '306\n'],
 ['120',
  'Knoxville',
  'Tennessee',
  '98.7\n',
  '256',
  '5.5\n',
  '14',
  '104.3\n',
  '270',
  '190,740\n'],
 ['121',
  'Sacramento',
  'California',
  '98.6\n',
  '255',
  '2.1\n',
  '5.4',
  '100.7\n',
  '261',
  '524,943\n'],
 ['122',
  'Denton',
  'Texas',
  '96.9\n',
  '251',
  '1.4\n',
  '3.6',
  '98.3\n',
  '255',
  '139,869\n'],
 ['123',
  'Milwaukee',
  'Wisconsin',
  '96.2\n',
  '249',
  '0.6\n',
  '1.6',
  '96.8\n',
  '251',
  '577,222\n'],
 ['124',
  'Arlington',
  'Texas',
  '95.8\n',
  '248',
  '3.6\n',
  '9.3',
  '99.4\n',
  '257',
  '394,266\n'],
 ['125',
  'Palm Coast',
  'Florida',
  '95.7\n',
  '248',
  '1.2\n',
  '3.1',
  '96.9\n',
  '251',
  '89,258\n'],
 ['126',
  'Palm Springs',
  'California',
  '94.5\n',
  '245',
  '0.1\n',
  '0.26',
  '94.7\n',
  '245',
  '44,575\n'],
 ['127',
  'Lancaster',
  'California',
  '94.3\n',
  '244',
  '0.3\n',
  '0.78',
  '94.5\n',
  '245',
  '173,516\n'],
 ['128',
  'South Fulton',
  'Georgia',
  '93.0\n',
  '241',
  '1.2\n',
  '3.1',
  '94.2\n',
  '244',
  '107,436\n'],
 ['129',
  'Waco',
  'Texas',
  '91.0\n',
  '236',
  '12.4\n',
  '32',
  '103.4\n',
  '268',
  '138,486\n'],
 ['130',
  'Dothan',
  'Alabama',
  '89.8\n',
  '233',
  '0.3\n',
  '0.78',
  '90.2\n',
  '234',
  '71,072\n'],
 ['131',
  'Des Moines',
  'Iowa',
  '88.2\n',
  '228',
  '2.5\n',
  '6.5',
  '90.7\n',
  '235',
  '214,133\n'],
 ['132',
  'Baton Rouge',
  'Louisiana',
  '86.9\n',
  '225',
  '2.2\n',
  '5.7',
  '89.1\n',
  '231',
  '227,470\n'],
 ['133',
  'Palm Bay',
  'Florida',
  '86.7\n',
  '225',
  '3.2\n',
  '8.3',
  '89.9\n',
  '233',
  '119,760\n'],
 ['134',
  'Oak Ridge',
  'Tennessee',
  '85.3\n',
  '221',
  '4.7\n',
  '12',
  '90.0\n',
  '233',
  '31,402\n'],
 ['135',
  'Boise',
  'Idaho',
  '84.6\n',
  '219',
  '1.0\n',
  '2.6',
  '85.5\n',
  '221',
  '235,684\n'],
 ['136',
  'Edmond',
  'Oklahoma',
  '84.4\n',
  '219',
  '3.1\n',
  '8.0',
  '87.5\n',
  '227',
  '94,428\n'],
 ['137',
  'Seattle',
  'Washington',
  '84.0\n',
  '218',
  '58.1\n',
  '150',
  '142.1\n',
  '368',
  '737,015\n'],
 ['138',
  'Springfield',
  'Missouri',
  '83.2\n',
  '215',
  '0.6\n',
  '1.6',
  '83.8\n',
  '217',
  '169,176\n'],
 ['139',
  'Coolidge',
  'Arizona',
  '83.1\n',
  '215',
  '0.2\n',
  '0.52',
  '83.3\n',
  '216',
  '13,218\n'],
 ['140',
  'Madison',
  'Wisconsin',
  '83.1\n',
  '215',
  '21.4\n',
  '55',
  '104.5\n',
  '271',
  '269,840\n'],
 ['141',
  'Sioux Falls',
  'South Dakota',
  '82.7\n',
  '214',
  '0.5\n',
  '1.3',
  '83.2\n',
  '215',
  '192,517\n'],
 ['142',
  'Beaumont',
  'Texas',
  '82.1\n',
  '213',
  '2.8\n',
  '7.3',
  '84.9\n',
  '220',
  '115,282\n'],
 ['143',
  'Lawton',
  'Oklahoma',
  '81.4\n',
  '211',
  '0.0\n',
  '0',
  '81.5\n',
  '211',
  '90,381\n'],
 ['144',
  'Riverside',
  'California',
  '81.1\n',
  '210',
  '0.3\n',
  '0.78',
  '81.5\n',
  '211',
  '314,998\n'],
 ['145',
  'Baltimore **',
  'Maryland',
  '80.9\n',
  '210',
  '11.1\n',
  '29',
  '92.1\n',
  '239',
  '585,708\n'],
 ['146',
  'Toledo',
  'Ohio',
  '80.5\n',
  '208',
  '3.3\n',
  '8.5',
  '83.8\n',
  '217',
  '270,871\n'],
 ['147',
  'Jonesboro',
  'Arkansas',
  '80.2\n',
  '208',
  '0.6\n',
  '1.6',
  '80.7\n',
  '209',
  '78,576\n'],
 ['148',
  'El Reno',
  'Oklahoma',
  '79.6\n',
  '206',
  '0.6\n',
  '1.6',
  '80.2\n',
  '208',
  '16,989\n'],
 ['149',
  'Caribou',
  'Maine',
  '79.3\n',
  '205',
  '0.8\n',
  '2.1',
  '80.1\n',
  '207',
  '7,396\n'],
 ['150',
  'Ellsworth',
  'Maine',
  '79.3\n',
  '205',
  '14.6\n',
  '38',
  '93.9\n',
  '243',
  '8,399\n']]

In [144]:
df = pd.DataFrame(retrieve_rows(html))
df.head()

,0,1,2,3,4,5,6,7,8,9
0,Rank,City,State,Land area,Water area,Total area,Population(2020)[2]\n,None,None,None
1,(sq mi),(km2),(sq mi),(km2),(sq mi),(km2)\n,None,None,None,None
2,1,Sitka,Alaska,"2,870.1\n","7,434","1,945.1\n","5,038","4,815.1\n","12,471","8,458\n"
3,2,Juneau,Alaska,"2,704.2\n","7,004",550.7\n,"1,426","3,254.9\n","8,430","32,255\n"
4,3,Wrangell,Alaska,"2,556.1\n","6,620",920.6\n,"2,384","3,476.7\n","9,005","2,127\n"

In [145]:
df.columns = df.iloc[0]
df = df.drop(index = range(2))
df.head()

,Rank,City,State,Land area,Water area,Total area,Population(2020)[2]\n,None,None,None
2,1,Sitka,Alaska,"2,870.1\n","7,434","1,945.1\n","5,038","4,815.1\n","12,471","8,458\n"
3,2,Juneau,Alaska,"2,704.2\n","7,004",550.7\n,"1,426","3,254.9\n","8,430","32,255\n"
4,3,Wrangell,Alaska,"2,556.1\n","6,620",920.6\n,"2,384","3,476.7\n","9,005","2,127\n"
5,4,Anchorage,Alaska,"1,707.0\n","4,421",239.7\n,621,"1,946.7\n","5,042","291,247\n"
6,5,Tribune[note 1]*,Kansas,778.2\n,"2,016",0\n,0,778.2\n,"2,016","1,182\n"

In [146]:
df.dtypes

0
Rank                     object
City                     object
State                    object
Land area                object
Water area               object
Total area               object
Population(2020)[2]\n    object
None                     object
None                     object
None                     object
dtype: object

In [147]:
from re import sub 
def remove(string):
    '''
    Removes everything inside [], a whitespace before that and *'s.
    '''
    if isinstance(string, str):
        string = sub(r'\s*\[.*\]\**|\n|,', '', string)
    return string

In [148]:
df.columns = [remove(i) for i in df.columns] # remove from table columns
df = df.applymap(remove) #remove from all rows
df.head()

,Rank,City,State,Land area,Water area,Total area,Population(2020),None,None,None
2,1,Sitka,Alaska,2870.1,7434,1945.1,5038,4815.1,12471,8458
3,2,Juneau,Alaska,2704.2,7004,550.7,1426,3254.9,8430,32255
4,3,Wrangell,Alaska,2556.1,6620,920.6,2384,3476.7,9005,2127
5,4,Anchorage,Alaska,1707.0,4421,239.7,621,1946.7,5042,291247
6,5,Tribune,Kansas,778.2,2016,0,0,778.2,2016,1182

In [149]:
df.dtypes

Rank                object
City                object
State               object
Land area           object
Water area          object
Total area          object
Population(2020)    object
None                object
None                object
None                object
dtype: object

In [150]:
for col in df.columns[3:]: #only those cols with vals
    df[col] = df[col].astype(float)

In [154]:
df.head()

,Rank,City,State,Land area,Water area,Total area,Population(2020),None,None,None
2,1,Sitka,Alaska,2870.1,7434.0,1945.1,5038.0,4815.1,12471.0,8458.0
3,2,Juneau,Alaska,2704.2,7004.0,550.7,1426.0,3254.9,8430.0,32255.0
4,3,Wrangell,Alaska,2556.1,6620.0,920.6,2384.0,3476.7,9005.0,2127.0
5,4,Anchorage,Alaska,1707.0,4421.0,239.7,621.0,1946.7,5042.0,291247.0
6,5,Tribune,Kansas,778.2,2016.0,0.0,0.0,778.2,2016.0,1182.0

In [153]:
df.dtypes

Rank                 object
City                 object
State                object
Land area           float64
Water area          float64
Total area          float64
Population(2020)    float64
None                float64
None                float64
None                float64
dtype: object

### Summary 

- HTML pages are set up like a filesystem
- use `lxml` to parse them in Python
- navigate though HTML via xpath or css